<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/"
			><img src="skillavate-logo-horizontal.png" alt="Logo" height="75" style="margin-left: 50px"
		/></a>

		<button class="btn btn-primary" type="button" href="/login">Join Skillavate as a tutor or teacher</button>
	</div>
</nav>
