<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: var(--dark-color)">
	<div class="container">
		<a class="navbar-brand" href="/">
			<img src="/skillavate-logo-horizontal.png" alt="Logo" height="75" style="margin-left: 50px" />
		</a>
		<!-- View Services -->
		<div style="float: right">
			<a href="/services" class="btn" style="padding: 10px; margin: 10px"> Find Tutors </a>
			<!-- Add Services -->
			<a href="/addService" class="btn" style="padding: 10px; margin: 10px"> Join us as a Tutor </a>
			<!--<button class="btn" type="button" onclick="window.location.href='/signup';">
      Join Skillavate as a tutor or teacher
    </button>-->
		</div>
	</div>
</nav>
