<!-- Header -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/"
			><img src="skillavate-logo-horizontal.png" alt="Logo" height="75" style="margin-left: 50px"
		/></a>

		<button
			class="btn btn-primary ml-auto"
			type="button"
			href="/login"
			style="background-color: var(--primary-color); border: none; border-radius: 10px"
		>
			Join Skillavate as a tutor or teacher
		</button>
	</div>
</nav>
