<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="theme-color" content="#008ca8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="icon" href="/skillavate-icon.ico" />
		<title>Skillavate</title>
	</head>
	<body>
		<!-- Header -->
		<%- include('partials/header') %>

		<div id="mainDiv" class="container mt-4 skillavate-form">
			<img src="/skillavate-logo-horizontal.svg" class="center" style="margin-bottom: 20px" />
			<h1 style="color: var(--primary-color); text-align: center">Service Information Form</h1>
			<hr style="border-top: 3px solid var(--light-color)" />
			<h1 style="text-align: center">Thank you for contributing to our tutor search service!</h1>
			<p style="text-align: center">Your service listing will be made public after a human verification process :)</p>
		</div>

		<!-- Footer -->
		<%- include('partials/footer') %>
	</body>
</html>
