<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="theme-color" content="#008ca8" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/style.css" />
		<link rel="icon" href="/skillavate-icon.ico" />
		<title>Skillavate</title>
	</head>
	<body>
		<!-- Header -->
		<%- include('partials/header') %>

		<!-- <div class="container" style="margin-top: 10px">
			Edit Services(tutors only)
			<a href="/tutorDash" class="btn"> Tutor Dashboard </a>
			Log In Button
			<a href="/login" style="float: right" class="btn"> Log In </a>
		</div> -->
		<hr style="border-top: 3px solid var(--light-color); margin-top: 0px" />
		<div class="skillavate-tile-1 media" display="inline-block">
			<div>
				<h1 style="font-size: 100px; margin-bottom: 40px">What is Skillavate?</h1>
				<p style="font-size: 40px">
					Skillavate is a free web-service where students can find relevant tutors to improve the skills they need to
					excel.
				</p>
				<p style="font-size: 40px">
					We believe that access to relevant, quality tutoring is essential to any student's journey.
				</p>
			</div>
		</div>
		<div class="skillavate-tile-2 media" style="display: flex">
			<div>
				<h1 style="font-size: 70px">Tutoring Services</h1>
				<p style="font-size: 40px">Find tutoring services for any skill in your area!</p>
			</div>
			<div style="margin: auto">
				<a href="/services" class="btn-tile">View Services</a>
			</div>
		</div>
		<div class="skillavate-tile-3 media" style="display: flex">
			<div style="width: 1000px">
				<h1 style="font-size: 70px">Skillavate is looking for tutors!</h1>
				<p style="font-size: 40px">With just one form, you can post your service today*!</p>
				<p style="font-size: 40px">
					*Service listings must be reviewed by our administrators before appearing for users.
				</p>
			</div>
			<div style="margin: auto">
				<a href="/addService" class="btn-tile">Add Service</a>
			</div>
		</div>

		<!-- Footer -->
		<%- include('partials/footer') %>
	</body>
</html>
