<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Test application</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="icon" href="favicon.png">
</head>
<body>
  <h1>Wassup, world!</h1>
  <form action="/" method="POST">
    <label>First name:</label><br>
    <input type="text" name="content"><br>
    <input type="submit" value="SUBBMITT">
  </form>
</body>
</html>