<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="theme-color" content="#008ca8" />
		<link rel="stylesheet" href="/orig-style.css" />
		<link rel="icon" href="skillavate-icon.ico" />
		<title>Skillavate</title>
	</head>
	<body>
		<h1>Welcome to Skillavate!</h1>
		<form id="createService" autocomplete="off">
			<label>Service Name:</label>
			<input type="text" name="serviceName" />
			<label>Service Description:</label>
			<input type="text" name="serviceDescription" />
			<h3 id="confirmationMessage"></h3>
			<input type="submit" value="Submit" />
		</form>
		<div id="servicelist"></div>
		<script>
			(async () => {
				(await fetch("/api/servicelist").then((res) => res.json())).forEach((elem) => {
					let element = document.createElement("a");
					element.innerHTML = elem.name;
					element.href = `/service/${elem._id}`;
					document.getElementById("servicelist").appendChild(element);
				});
			})();

			document.getElementById("createService").addEventListener("submit", async (event) => {
				event.preventDefault();
				let name = document.querySelector('input[name="serviceName"]').value;
				const postData = await fetch("/", {
					headers: {
						Accept: "application/json",
						"Content-Type": "application/json",
					},
					body: JSON.stringify({
						name,
						description: document.querySelector('input[name="serviceDescription"]').value,
					}),
					method: "POST",
				}).then((res) => res.json());

				let confirmationMessageElem = document.getElementById("confirmationMessage");

				if (postData.ok && postData.message && postData.id) {
					confirmationMessageElem.style = "color: #00ffbf;";
					confirmationMessageElem.innerHTML = postData.message;

					let newElem = document.createElement("a");
					newElem.href = `/service/${postData.id}`;
					newElem.innerHTML = name;
					document.getElementById("servicelist").appendChild(newElem);
				} else {
					confirmationMessageElem.style = "color: red;";
					confirmationMessageElem.innerHTML = "An error has occurred";
				}
			});
		</script>
	</body>
</html>
