html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 150px; /* Margin bottom by footer height */
}

/* Custom color theme */
:root {
	--primary-color: #008ca8;
	--secondary-color: #5a5a5a;
	--light-color: #f8f8f8;
	--dark-color: #333;
}

.btn:focus,
.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.custom-card {
	border: 2px solid var(--primary-color);
	background-color: var(--light-color);
	color: var(--dark-color);
	border-radius: 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
