html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 150px; /* Margin bottom by footer height */
}

/* Custom color theme */
:root {
	--primary-color: #008ca8;
	--secondary-color: #008ca88a;
	--light-color: #f8f8f8;
	--dark-color: #333;
}

.btn {
	border: none;
	background-color: var(--primary-color);
	border-radius: 10px;
}

.btn:hover {
	background-color: var(--secondary-color);
}

.custom-card {
	border: 2px solid var(--primary-color);
	background-color: var(--light-color);
	color: var(--dark-color);
	border-radius: 15px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
