html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 150px; /* Margin bottom by footer height */
	font-family: Georgia, "Times New Roman", Times, serif;
	background-color: var(--dark-color);
	color: white;
}

/* Custom color theme */
:root {
	--primary-color: #008ca8;
	--secondary-color: #008ca88a;
	--light-color: #ffffff;
	--dark-color: #222222;
}

/* Custom Scroll Bar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--dark-color);
}

::-webkit-scrollbar-thumb {
	background: var(--primary-color);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.label {
	color: white;
}

.btn {
	border: none;
	color: var(--light-color);
	background-color: var(--primary-color);
	border-radius: 10px;
}

.btn:hover {
	background-color: var(--secondary-color);
}

.btn:active {
	background-color: var(--dark-color);
}
.btn-tile {
	text-decoration: none;
	border: none;
	color: var(--light-color);
	background-color: var(--primary-color);
	border-radius: 20px;
	padding:60px 100px;
	font-size: 40px;
}
.btn-tile:active{
	background-color: var(--dark-color);
}
.btn-tile:hover{
	background-color: var(--secondary-color);
}
.media {
	opacity: 0.8;
}
.media:hover {
	opacity: 1;
}

/* Custom CSS */
.skillavate-div {
	background: var(--dark-color);
	border-radius: 20px;
	box-shadow: 0px 0px 5px 3px var(--primary-color);
}

.skillavate-form {
	background: var(--dark-color);
	padding: 75px;
	border-radius: 20px;
	box-shadow: 0px 0px 5px 3px var(--primary-color);
	width: 750px;
}
.skillavate-tile-1 {
	background: var(--secondary-color);
	background-blend-mode: normal;
	padding-top: 100px;
	padding-bottom: 300px;
	padding-left: 25%;
	padding-right: 25%;
	
	margin: 0px auto;
	margin-top: 70px;
	text-align: center;
	
	background-size:cover;
	
	width: 100%;
	
	
	background-image: url("editedpic.jpg");
	
}

.skillavate-tile-2 {
	background: var(--secondary-color);
	background-blend-mode: normal;
	padding-top: 300px;
	padding-bottom: 300px;
	padding-left: 150px;
	padding-right: 250px;
	margin: 0 auto;
	
	background-size:cover;
	
	width: 100%;
	
	
	background-image: url("fran-innocenti-I_LxDFIIRIA-unsplash.jpg");
	
}
.skillavate-tile-3 {
	background: var(--secondary-color);
	background-blend-mode: normal;
	padding-top: 300px;
	padding-bottom: 300px;
	padding-left: 150px;
	padding-right: 250px;
	margin: 0px auto;
	
	
	background-size:cover;
	
	width: 100%;
	
	
	background-image: url("kaleidico-7lryofJ0H9s-unsplash.jpg");
	
}
.skillavate-tile-1:hover {
	background-blend-mode: multiply;
}
.skillavate-tile-2:hover {
	background-blend-mode: multiply;
}
.skillavate-tile-3:hover {
	background-blend-mode: multiply;
}
.skillavate-select {
	color: var(--primary-color);
	font-size: large;
	border-width: 5px;
	border-radius: 15px;
	border-color: var(--primary-color);
	width: 100%;
	height: 40%;
	text-align: center;
	outline: none;
}

.skillavate-input {
	color: var(--primary-color);
	font-size: large;
	border-bottom-width: 5px;
	border-radius: 15px;
	border-bottom-color: var(--primary-color);
}

.skillavate-input::placeholder {
	color: rgb(168, 168, 168);
}

.skillavate-input:invalid {
	border-bottom-color: red;
}

.skillavate-input:focus {
	color: var(--primary-color);
	font-size: large;
	border-bottom-width: 5px;
	border-radius: 15px;
	border-bottom-color: var(--primary-color);
}

.skillavate-label {
	font-size: xx-large;
	margin-top: 25px;
}

.skillavate-label-check::before {
	content: "\a";
	white-space: pre;
}

.skillavate-label-check {
	font-size: small;
}

.skillavate-card {
	border: 0px solid var(--primary-color);
	background-color: var(--light-color);
	color: var(--dark-color);
	border-radius: 20px;
	padding: 15px;
	box-shadow: 0px 0px 5px 5px var(--primary-color);
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
