body {
	background-color: #2e2e2e;
	font-family: Georgia, serif;
	line-height: 1.6;
}

h1 {
	text-align: center;
	margin: 20px 0;
	color: #00ffbf;
}

p {
	text-align: center;
	margin: 20px 0;
	color: white;
}

form {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	background-color: #e0e0e0;
	border-radius: 20px;
}

form label {
	display: block;
	margin-bottom: 5px;
	color: black;
	font-weight: 100;
}

form input[type="text"] {
	width: 93%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
}

form input[type="text"]:focus-within {
	outline-color: #00ffbf;
}

form input[type="submit"] {
	display: block;
	width: 20%;
	padding: 10px;
	background-color: #00ffbf;
	color: #000000;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

form input[type="submit"]:hover {
	background-color: #00aa80;
}

#servicelist {
	max-width: 400px;
	margin: 20px auto;
	padding: 20px;
	background-color: #e0e0e0;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#servicelist a {
	display: block;
	padding: 10px;
	color: #007bff;
	text-decoration: underline;
	border-bottom: 1px solid #ccc;
	border: 2px solid rgba(0, 0, 0, 0);
	text-align: center;
}

#servicelist a:hover {
	border: 2px solid #00ffbf;
	border-radius: 10px;
}
